node_modules/
.gradle/
.idea/
*.iml
local.properties
android/.gradle/
android/app/build/
android/build/
ios/build/
ios/Pods/
ios/DerivedData/
.expo/
dist/
web-build/
.DS_Store
*.keystore
!debug.keystore
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.*
